section#Contact {
    background: linear-gradient(180deg, #010209 42.71%, #020202 100%);
}

section#Contact .formulaire {
    width: 1150px;
    height: 709px;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    margin: auto;
    margin-top: 200px;
    display: flex;
}

section#Contact .imagerobot {
    width: 350px;
    height: 709px;
    border-right: 1px solid white;
    background: url(/src/images/imagerobot.png);
    background-repeat: no-repeat;
}

section#Contact .contactform {
    width: 780px;
    height: 709px;
    text-align: center;
}

section#Contact #titre {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px,
        #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
        #FF2D95 0px 0px 30px, #FF2D95 0px 0px 50px,
        #FF2D95 0px 0px 75px;
    color: #FFF;
    font-family: 'Orbitron';
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

section#Contact .icons {
    padding-top: 20px;
    padding-bottom: 20px;
}

section#Contact #facebook {
    padding-right: 60px;
}

section#Contact #insta {
    padding-right: 60px;
}

section#Contact .form {
    flex-direction: column;
    text-align: center;
}

section#Contact .fullname {
    padding-bottom: 10px;
}

section#Contact #fullname {
    background-color: #010209;
    width: 285px;
    height: 40px;
    border-radius: 25px;
    color: white;
}

section#Contact .email {
    padding-bottom: 10px;
}

section#Contact #email {
    background-color: #010209;
    width: 285px;
    height: 40px;
    border-radius: 25px;
    color: white;
}

section#Contact #message {
    text-align: left;
    background-color: #010209;
    width: 500px;
    height: 200px;
    border-radius: 25px;
    color: white;
}

section#Contact .button {
    padding-top: 40px;
    border-radius: 25px;
}

section#Contact #button {
    width: 300px;
    border-radius: 25px;
    height: 60px;
    background: rgba(132, 36, 132, 0.3);
    font-family: 'Orbitron';
    color: #FFF;
}