/*-------------------/
/                    /
/     SETUP PART     /
/                    /
/-------------------*/

@font-face {
    font-family: "helvetica";
    src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
         url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
         url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

@font-face {
  font-family: 'Game Of Squids';
  src: url('./src/fonts/Game_Of_Squids.otf') format('opentype'),
       url('./src/fonts/Game_Of_Squids.ttf') format('truetype');
  /* Autres propriétés facultatives */
  font-weight: normal;
  font-style: normal;
}


html, body {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'helvetica', sans-serif;
    background-color: #0d1526;
    background: #0d1526;
    background: linear-gradient(25deg, rgba(28, 53, 153, 1) 0%, rgba(13, 21, 38, 1) 35%, rgba(13, 21, 38, 1) 50%, rgba(13, 21, 38, 1) 65%, rgba(32, 83, 147, 1) 100%);
    background-image: url(./src/images/backgroundsify.jpg);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body div.background_full {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    z-index: 0;
}

body div.background_full :is(video, img)  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* 
body {
    position: absolute;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:is([hidden]) {
    display: none !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --title-font-size: 4em;
    --title-text-font-size: 1.8em;
    --little-title-font-size: 3em;
    --text-font-size: 1.3em;
    --input-font-size: 1.2em;
}

/*--------------------------/
/                           /
/     END OF SETUP PART     /
/                           /
/--------------------------*/





/*--------------------------------/
/                                 /
/     MAIN PAGE BUILDING PART     /
/                                 /
/--------------------------------*/

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: rgba(40, 65, 125, 0.55);
    z-index: 5;
    backdrop-filter: blur(5px);
}
header a {
    display: contents;
}
header img.brand_banner {
    height: 75%;
    transition: 0.2s;
}
header a:hover img.brand_banner {
    transform: scale(1.05);
}
header h2 {
    font-size: var(--text-font-size);
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: rgba(40, 65, 125);
    scroll-snap-align: end;
    z-index: 3;
}

footer * {
    z-index: 2;
}

footer div.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer div.brand img.brand_banner {
    height: 50px;
    transition: 0.2s;
}
footer div.brand a:hover img.brand_banner {
    transform: scale(1.05);
}

footer div.legal {
    color: white;
    font-size: var(--text-font-size);
    text-align: center;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 35px;
    z-index: 2;
}

section * {
    z-index: 2;
}
section.main {
    background-color: transparent;
}
section.row {
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 15px;
}

h1 {
    font-size: var(--title-font-size);
    color: white;
    white-space: nowrap;
    width: min-content;
}
h3 {
    font-size: var(--little-title-font-size);
    color: white;
    background: linear-gradient(111deg, rgba(126, 79, 210, 1) 0%, rgba(22, 218, 240, 1) 35%, rgba(255, 232, 199, 1) 50%, rgba(233, 76, 164, 1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Game Of Squids', sans-serif;
}

p, b, em, u {
    font-size: var(--text-font-size);
    color: white;
}

a.link {
    color: white;
    text-decoration: none;
    font-size: var(--text-font-size);
    transition: 0.2s;
}
a.link:hover {
    filter: contrast(0.5);
}
a.link.mail {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

button {
    padding: 12px;
    padding-inline: 25px;
    margin: 25px;
    font-size: var(--text-font-size);
    border-radius: 35px;
    color: white;
    background-color: #11abbd;
    border: none;
    cursor: pointer;
    --transition-timing: 0.5s;
    transition: color var(--transition-timing), filter var(--transition-timing), transform var(--transition-timing);
}
button:hover {
    color: gold;
    filter: brightness(2);
    transform: scale(1.03);
}

button.backToTop {
    position: fixed;
    z-index: 4;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, color var(--transition-timing), filter var(--transition-timing), transform var(--transition-timing);
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 100, 0.3);
    padding: 45px;
    box-sizing: border-box;
    border: solid 4px rgb(0, 195, 255);
    border-radius: 50px;
    max-height: 650px;
    gap: 5px;
}

form div.inline {
    display: inline-block;
    white-space: nowrap;
}

form :is(input, textarea) {
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 50px;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: rgb(245, 245, 245, 0.9);
    font-size: var(--input-font-size);
    margin: 5px;
    font-family: 'helvetica', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
form :is(input, textarea)::placeholder {
    color: rgb(215, 215, 215, 0.65);
}
form :is(input, textarea):is(:hover, :focus) {
    background-color: rgba(255, 255, 255, 0.18);
}

form textarea {
    min-height: 120px;
    resize: vertical;
    border-radius: 25px;
}

form input[type=submit] {
    margin-block-start: 30px;
    cursor: pointer;
    background-color: rgb(20, 20, 100, 0.8);
    border: solid 4px rgb(0, 195, 255);
    transition: 0.3s;
}
form input[type=submit]:is(:hover, :focus) {
    color: gold;
    filter: brightness(2);
    transform: scale(1.03);
}

/*---------------------------------------/
/                                        /
/     END OF MAIN PAGE BUILDING PART     /
/                                        /
/---------------------------------------*/





/*--------------------------/
/                           /
/     MAIN SECTION PART     /
/                           /
/--------------------------*/

section.main div.welcome {
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    inline-size: max-content;
}

section.main div.welcome p {
    font-size: var(--title-text-font-size);
}

section.main :is(h1, p) {
    --shadow-feather: 7px;
    --shadow-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px var(--shadow-feather) var(--shadow-color), 1px 0px var(--shadow-feather) var(--shadow-color), -1px 0px var(--shadow-feather) var(--shadow-color), 0px 1px var(--shadow-feather) var(--shadow-color), 0px -1px var(--shadow-feather) var(--shadow-color);
}

section.main button.discover {
    margin-block-start: 85px;
}

section.main * {
    z-index: 2;
}

section.main div.background {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
section.main div.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.main h1.welcome_title {
    font-family: 'Game Of Squids', sans-serif;
 background: linear-gradient(111deg, rgba(126, 79, 210, 1) 0%, rgba(22, 218, 240, 1) 35%, rgba(255, 232, 199, 1) 50%, rgba(233, 76, 164, 1) 100%);    -webkit-background-clip: text;    text-shadow: none;
    -webkit-text-fill-color: transparent;
}

/*---------------------------------/
/                                  /
/     END OF MAIN SECTION PART     /
/                                  /
/---------------------------------*/





/*----------------------------/
/                             /
/     OTHER SECTIONS PART     /
/                             /
/----------------------------*/

section div.content {
    padding: 15px;
    box-sizing: border-box;
    flex: 1;
}
section div.content.shrink {
    flex: 0.65;
}
section div.content.shrink.semi {
    flex: 0.88;
}

section div.cards {
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;
    display: contents;
}

section div.cards div.card {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.7));
    background-color: rgb(13, 21, 38, 0.8);
    background: rgb(13,21,38, 0.8);
    background: radial-gradient(circle, rgba(28, 53, 153, 0.8) 0%, rgba(13,21,38,0.8) 80%, rgba(13, 21, 38, 0.8) 100%);
    backdrop-filter: blur(5px);
    transition: 0.25s;
}
section div.cards div.card.horizontal {
    width: 500px;
    height: 380px;
}
section div.cards div.card.video {
    overflow: hidden;
}
section div.cards div.card.video :is(video, img)  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section div.cards div.card.first {
    transform: perspective(650px) rotateX(8.61077deg) rotateY(-6.95713deg);
}
section div.cards div.card.second {
    transform: perspective(650px) rotateX(-5.59753deg) rotateY(5.06889deg);
    zoom: 0.74;
    position: relative;
    top: 153px;
}
section div.cards div.card.third {
    transform: perspective(650px) rotateX(-7.26112deg) rotateY(-11.6133deg);
    zoom: 0.91;
    position: relative;
    bottom: 67px;
}

/*-----------------------------------/
/                                    /
/     END OF OTHER SECTIONS PART     /
/                                    /
/-----------------------------------*/





/*------------------------/
/                         /
/     RESPONSIVE PART     /
/                         /
/------------------------*/

@media (max-width: 1615px) {
    :root {
        --title-font-size: 2.5em;
        --title-text-font-size: 1.4em;
        --little-title-font-size: 2em;
        --text-font-size: 1em;
        --input-font-size: 0.9em;
    }
    section div.cards div.card {
        width: 180px;
        height: 180px;
        border-radius: 20px;
    }
    section div.cards div.card.horizontal {
        width: 300px;
        height: 228px;
    }
}

@media (max-width: 1115px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 1.1em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.8em;
        --input-font-size: 0.7em;
    }

    header {
        position: absolute;
    }

    section {
        justify-content: center;
    }
    section.row {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    section div.content, section div.content.shrink, section div.content.shrink.semi {
        flex: none;
    }
    section div.cards div.card {
        top: initial !important;
        bottom: initial !important;
    }
}

@media (max-width: 745px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 0.9em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.7em;
        --input-font-size: 0.6em;
    }

    header img.brand_banner {
        height: auto;
        width: 45%;
    }

    section {
        overflow: hidden;
    }

    section.main div.welcome {
        inline-size: auto;
    }

    section.main div.welcome h1.welcome_title {
        white-space: break-spaces;
        text-align: center;
    }

    section div.cards div.card {
        width: 180px;
        height: 180px;
        border-radius: 25px;
    }
    section div.cards div.card.horizontal {
        width: 300px;
        height: 228px;
    }

    form {
        padding: 30px;
        border-width: 3px;
        border-radius: 35px;
        max-height: 500px;
    }

    form :is(input, textarea) {
        padding: 20px;
        border-radius: 50px;
    }

    form textarea {
        border-radius: 20px;
    }

    form input[type=submit] {
        margin-block-start: 25px;
        border-width: 3px;
    }
}


@media (max-width: 500px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 0.9em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.7em;
        --input-font-size: 0.6em;
    }

    footer {
        height: 200px;
    }

    form {
        padding: 15px;
        border-width: 2px;
        border-radius: 30px;
    }

    form :is(input, textarea) {
        padding: 15px;
        border-radius: 25px;
    }

    form textarea {
        border-radius: 15px;
    }

    form input[type=submit] {
        margin-block-start: 20px;
        border-width: 2px;
    }
}

@media (max-width: 375px) {
    footer {
        height: 150px;
    }

    form {
        max-width: 85%;
        max-height: 95%;
        overflow: auto;
    }
    form div.inline {
        display: inline-flex;
        flex-direction: column;
        white-space: break-spaces;
    }

    section div.cards div.card {
        width: 65%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 20px;
    }
    section div.cards div.card.horizontal {
        width: 85%;
        height: auto;
        aspect-ratio: 4/3;
    }
    footer div.brand img.brand_banner {
        height: 25px;
    }
}

@media (max-height: 660px) and (min-width: 800px) {
    /* header {
        position: absolute;
    } */

    section.row {
        flex-direction: row;
    }
    section div.content {
        flex: 1;
    }
    section div.content.shrink {
        flex: 0.65;
    }
    section div.content.shrink.semi {
        flex: 0.88;
    }
}

@media (max-height: 600px) {
    header {
        height: 15%;
    }
    section.main div.welcome {
        inline-size: 100%;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
    h1 {
        white-space: break-spaces;
        flex-basis: 100%;        
    }
    section.main button.discover {
        margin-block-start: 20px;
    }
}

@media (max-height: 430px) { 
    form {
        zoom: 0.75;
        max-height: 95%;
        overflow: auto;
    }

    footer {
        height: 180px;
    }
}

@media (max-height: 370px) { 
    /* section div.cards div.card {
        width: 180px;
        height: 180px;
        border-radius: 25px;
    }
    section div.cards div.card.horizontal {
        width: 300px;
        height: 228px;
    } */
    
    section div.cards div.card {
        width: auto;
        height: 50%;
        aspect-ratio: 1/1;
        border-radius: 15px;
    }
    section div.cards div.card.horizontal {
        width: auto;
        height: 50%;
        aspect-ratio: 4/3;
    }
}


@media (max-height: 370px) and (max-width: 800px) {
    section.row {
        flex-direction: row;
    }
    section div.content {
        flex: 1;
    }
    section div.content.shrink {
        flex: 0.65;
    }
    section div.content.shrink.semi {
        flex: 0.88;
    }
}

/*-------------------------------/
/                                /
/     END OF RESPONSIVE PART     /
/                                /
/-------------------------------*/

header button.goBack {
    position: absolute;
    left: 25px;
}

div.team {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

div.team img.teamboard {
    width: 80%;
    height: 85%;
    object-fit: contain;
}

@media (max-width: 835px) {
    header button.goBack {
        left: 5px;
        top: 100%;
    }
    
    div.team img.teamboard {
        width: 100%;
    }
}