* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url("./src/images/HomepageMetavirtual.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --title-font-size: 4em;
    --title-text-font-size: 1.8em;
    --little-title-font-size: 3em;
    --text-font-size: 1.3em;
    --input-font-size: 1.2em;
}

[hidden] {
    display: none !important;
} [hidding] {
    animation: fadeOut 1s ease-in forwards !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}
.container.column {
    flex-direction: column;
}

.container.responsive {
    height: auto;
}

.logo {
    width: 400px;
    animation: slideInFromTop 2.5s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.span-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 0px 25px #842484;
    animation: fadeIn 2.5s ease forwards;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 0px 15px #842484, 0px 0px 25px #84248485;
}

p.soon {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 0px 25px #842484;
    animation: neon 2s ease-in-out infinite alternate;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: rgba(40, 65, 125, 0.55);
    z-index: 5;
    backdrop-filter: blur(5px);
}

header a {
    display: contents;
}

header img.brand_banner {
    height: 75%;
    transition: 0.2s;
}

header a:hover img.brand_banner {
    transform: scale(1.05);
}

header h2 {
    font-size: var(--text-font-size);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

button.goBack {
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 999;
}

header button.goBack {
    position: fixed;
    left: 25px;
    top: auto;
}

.legalTextContainer {
    width: 70%;
    background-color: #010209;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    margin: 10px;
}

.legaltext {
    font-size: 1em;
    padding: 10px;
    color: #FFFFFF;
}

@media (max-width: 835px) {
    header button.goBack {
        left: 5px;
        top: 100%;
    }
}

button {
    padding: 12px;
    padding-inline: 25px;
    margin: 25px;
    font-size: var(--text-font-size);
    border-radius: 35px;
    color: white;
    background-color: #842484;
    border: none;
    cursor: pointer;
    --transition-timing: 0.5s;
    transition: color var(--transition-timing), filter var(--transition-timing), transform var(--transition-timing);
}

footer {
    margin-block-start: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 25px;
    width: 100%;
    scroll-snap-align: end;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.8s;
}


footer div.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

footer div.brand img.brand_banner {
    height: 40px;
    transition: 0.2s;
}
footer div.brand a:hover img.brand_banner {

    transform: scale(1.05);
}

footer div.legal {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}

div.modalContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    margin: auto;
    backdrop-filter: blur(25px) grayscale(1) brightness(0.3);
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in forwards;
}

div.modalContainer div.modal {
    position: relative;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

div.modalContainer div.modal a.newTab {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: sans-serif;
    color: white;
    background-color: #201e1ed6;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;
    user-select: none;
} div.modalContainer div.modal a.newTab:hover {
    opacity: 1;
}

div.modalContainer div.modal iframe {
    width: 100%;
    height: 100%;
}


/* FORMULAIRE DE CONTACT */

form {
    display: flex;
    flex-direction: column;
    background-color: #010209bb;
    padding: 45px;
    box-sizing: border-box;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50px;
    max-height: 650px;
    gap: 5px;
    backdrop-filter: blur(15px);
}

form div.inline {
    display: inline-block;
    white-space: nowrap;
}

form :is(input, textarea) {
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 50px;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: rgb(245, 245, 245, 0.9);
    font-size: var(--input-font-size);
    margin: 5px;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
form :is(input, textarea)::placeholder {
    color: rgb(215, 215, 215, 0.65);
}
form :is(input, textarea):is(:hover, :focus) {
    background-color: rgba(255, 255, 255, 0.18);
}

form textarea {
    min-height: 120px;
    resize: vertical;
    border-radius: 25px;
}

form input[type=submit] {
    margin-block-start: 30px;
    cursor: pointer;
    background: rgba(132, 36, 132, 0.3);
    border: 1px solid #842484;
    border-radius: 100px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition: 0.3s;
}
form input[type=submit]:is(:hover, :focus) {
    background: #842484;
    border: 1px solid #842484;
    box-shadow: 0px 0px 25px #842484;
    border-radius: 100px;
    transform: scale(1.03);
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px #FFFFFF;
}

/*FIN FORMULAIRE DE CONTACT*/

a.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
    font-family: 'Orbitron', sans-serif;
}
a.link:hover {
    text-shadow: 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 4px 4px rgba(132, 36, 132, 0.25), 0px 0px 25px #842484;
    transform: scale(1.05);
}
a.link.mail {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes neon {
    0% {
        text-shadow:
        0 0 5px white,
        0 0 10px transparentize(white, 0.5),
        0 0 15px transparentize(white, 0.75),
        0 0 20px $color-text,
        0 0 35px $color-text,
        0 0 40px $color-text,
        0 0 50px $color-text,
        0 0 75px $color-text,
        0 0 85px black;
    }

    5% {
        text-shadow: none;
    }
    
    15% {
        text-shadow:
        0 0 5px white,
        0 0 10px transparentize(white, 0.5),
        0 0 15px transparentize(white, 0.75),
        0 0 20px $color-text,
        0 0 35px $color-text,
        0 0 40px $color-text,
        0 0 50px $color-text,
        0 0 75px $color-text,
        0 0 85px black;
    }
    25% {
        text-shadow:
        0 0 5px white,
        0 0 10px transparentize(white, 0.5),
        0 0 15px transparentize(white, 0.75),
        0 0 20px $color-text,
        0 0 35px $color-text,
        0 0 40px $color-text,
        0 0 50px $color-text,
        0 0 75px $color-text,
        0 0 85px black;
    }
    50% {
        text-shadow: none;
    }
    75% {
        text-shadow:
        0 0 5px white,
        0 0 10px transparentize(white, 0.5),
        0 0 15px transparentize(white, 0.75),
        0 0 20px $color-text,
        0 0 35px $color-text,
        0 0 40px $color-text,
        0 0 50px $color-text,
        0 0 75px $color-text,
        0 0 85px black;
    }

    100% {
        text-shadow:
        0 0 5px white,
        0 0 15px transparentize(white, 0.25),
        0 0 20px transparentize(white, 0.5),
        0 0 30px $color-text,
        0 0 45px $color-text,
        0 0 50px $color-text,
        0 0 60px $color-text,
        0 0 85px $color-text,
        0 0 95px black;
    }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 230px;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    div.brand a.link {
        font-size: 15px;
    }

    footer div.legal {
        font-size: 10px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 280px;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    div.brand a.link {
        font-size: 20px;
    }

    footer div.legal {
        font-size: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 736px) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 280px;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    div.brand a.link {
        font-size: 20px;
    }

    footer div.legal {
        font-size: 10px;
    }
}

@media only screen and (min-width: 737px) and (max-width: 1024px) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 280px;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 35px;
    }

    div.brand a.link {
        font-size: 20px;
    }

    footer div.legal {
        font-size: 15px;
    }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 230px;
    }

    .text-container {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }

    div.brand a.link {
        font-size: 15px;
    }

    footer div.legal {
        font-size: 10px;
    }
}

@media only screen and (min-width: 737px) and (max-width: 1024px) and (orientation: landscape) {
    .logo-container {
        margin-bottom: 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 280px;
    }

    .text-container {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }

    div.brand a.link {
        font-size: 15px;
    }

    footer div.legal {
        font-size: 10px;
    }
}












































@media (max-width: 1615px) {
    :root {
        --title-font-size: 2.5em;
        --title-text-font-size: 1.4em;
        --little-title-font-size: 2em;
        --text-font-size: 1em;
        --input-font-size: 0.9em;
    }
}

@media (max-width: 1115px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 1.1em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.8em;
        --input-font-size: 0.7em;
    }

    div.container {
        flex-direction: column;
    }
}

@media (max-width: 745px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 0.9em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.7em;
        --input-font-size: 0.6em;
    }

    form {
        padding: 30px;
        border-width: 3px;
        border-radius: 35px;
        max-height: 500px;
    }

    form :is(input, textarea) {
        padding: 20px;
        border-radius: 50px;
    }

    form textarea {
        border-radius: 20px;
    }

    form input[type=submit] {
        margin-block-start: 25px;
        border-width: 3px;
    }
}


@media (max-width: 500px) {
    :root {
        --title-font-size: 2em;
        --title-text-font-size: 0.9em;
        --little-title-font-size: 1.5em;
        --text-font-size: 0.7em;
        --input-font-size: 0.6em;
    }

    form {
        padding: 15px;
        border-width: 2px;
        border-radius: 30px;
    }

    form :is(input, textarea) {
        padding: 15px;
        border-radius: 25px;
    }

    form textarea {
        border-radius: 15px;
    }

    form input[type=submit] {
        margin-block-start: 20px;
        border-width: 2px;
    }
}

@media (max-width: 375px) {
    form {
        max-width: 90%;
        max-height: 95%;
        overflow: auto;
    }

    form div.inline {
        display: inline-flex;
        flex-direction: column;
        white-space: break-spaces;
    }

    .logo {
        width: auto;
        height: 10%;
    }
}

@media (max-height: 660px) and (min-width: 700px) {
    div.container {
        flex-direction: row;
    }
}

@media (max-height: 430px) {
    form {
        zoom: 0.75;
        max-height: 95%;
        overflow: auto;
    }
}